<div class="banner">
    <h1>PRODUCTOS</h1>
</div>
<section class="marca">
    <div class="marca__titulo">
        <h2>Marcas con las que Trabajamos</h2>
        <div class="barra"></div>
    </div>
    <div class="marca__contenido">

        <div class="tarjeta" *ngFor="let marca of marcas">
            <div class="tarjeta__imagen">
                <img [src]="marca.imagen">
            </div>
            <div class="tarjeta__texto">
                <h3>{{marca.titulo}}</h3>
                <p>{{marca.texto}}</p>
            </div>
        </div>

    </div>
</section>

<section class="marca servicios">
    <div class="marca__titulo">
        <h2>Los Servicios de Ofrecemos</h2>
        <div class="barra"></div>
    </div>
    <div class="marca__contenido">

        <div class="tarjeta" *ngFor="let servicio of servicios">
            <div class="tarjeta__imagen">
                <img [src]="servicio.imagen">
            </div>
            <div class="tarjeta__texto">
                <div class="tarjeta__imagen--boton">
                    <a href="#"><i class="fas fa-share"></i></a>
                </div>
                <h3>{{servicio.titulo}}</h3>
                <p>{{servicio.texto}}</p>
            </div>
        </div>
    </div>
</section>

<section class="anuncio">
    <div class="anuncio__arriba">
        <img src="assets/images/pavco.png">
        <img src="assets/images/ferreiros.png">
        <img src="assets/images/unicom.png">
        <img src="assets/images/sol.svg">
    </div>
    <div class="anuncio__abajo">
        <div class="texto">
            <h2>En <span>GRUINCASAS</span> entendemos las particularidad de cada uno de sus proyectos, por lo que nos adapatamos segun a las necesidades de cada cliente. </h2>
            <a class="boton" [routerLink]="['/nosotros']">Conocenos</a>
        </div>
        <div class="imagen">
            <img src="./assets/images/anuncio.png">
        </div>
    </div>
</section>