<div class="nosotros">
    <div class="banner">
        <h1>NOSOTROS</h1>
    </div>
    <div class="textos">
        <h2>¿Quieres Somos?</h2>
        <div class="linea"></div>
        <p>Somos una empresa peruana líder, dedicada y especializada a la producción de concreto premezclado a nivel nacional.
        </p>
        <br>
        <p class="titulo">“Nuestro compromiso es ser la empresa líder en la industria peruana de Concreto Premezclado, productos y servicios afines, que garantiza la satisfacción del cliente en calidad y servicio, promoviendo el desarrollo y bienestar de nuestro personal
            y de la sociedad.“
        </p>
        <div class="tarjetas">
            <div class="tarjeta">
                <h3>Visión</h3>
                <div class="linea"></div>
                <img src="assets/images/vision.webp">
                <p>Ser reconocidos como mejor empresa peruana del concreto premezclado.
                </p>
            </div>
            <div class="tarjeta">
                <h3>Misión</h3>
                <div class="linea"></div>
                <img src="assets/images/mision.webp">
                <p>Empresa peruana calificada al suministro de concreto premezclado, buscando de esta manera garantizar la calidad del producto a nuestros clientes.
                </p>
            </div>
            <div class="tarjeta">
                <h3>Compromiso</h3>
                <div class="linea"></div>
                <img src="assets/images/equipo.webp">
                <p>Brindar un servicio de calidad con productos garantizados y con una entrega rápida en cada una de nuestras obras.
                </p>
            </div>
            <div class="tarjeta">
                <h3>Valores</h3>
                <div class="linea"></div>
                <img src="assets/images/valores.webp">
                <p>• Responsabilidad</p>
                <p>• Calidad de servicio</p>
                <p>• Cliente</p>
                <p>• Honestidad</p>
                <p>• Compromiso</p>
                <p>• Seguridad</p>
                <p></p>
            </div>
        </div>
    </div>
</div>