<div class="espacio" style="height: 80px;"></div>
<div class="nosotros">
    <div class="banner">
        <h1>NOSOTROS</h1>
    </div>
    <div class="textos">
        <h2>¿Quieres Somos?</h2>
        <div class="linea"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quibusdam in dolore sapiente. Eos sequi nulla asperiores impedit, tenetur ratione libero aliquid eaque quo error quae. Aperiam incidunt ab eius non id, molestias obcaecati similique
            cum tempore amet temporibus sunt! Obcaecati commodi facilis vero nobis dolore corrupti quidem debitis soluta in quia sapiente quod asperiores at quis nostrum, hic reiciendis, eum consectetur ex minima. Sed provident assumenda saepe exercitationem
            facere autem voluptatem repudiandae unde rem minus veniam ut corporis excepturi, error atque nostrum laborum adipisci ipsa porro quia pariatur magni commodi inventore. Neque nemo numquam rerum nostrum maiores sit nisi!
        </p>
        <div class="tarjetas">
            <div class="tarjeta">
                <h3>Visión</h3>
                <div class="linea"></div>
                <img src="assets/images/vision.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nesciunt enim soluta voluptas tempore excepturi provident numquam sequi, dolores deleniti incidunt necessitatibus, nobis, eaque reprehenderit aliquam illum. Illo, aspernatur
                    unde?
                </p>
            </div>
            <div class="tarjeta">
                <h3>Misión</h3>
                <div class="linea"></div>
                <img src="assets/images/mision.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nesciunt enim soluta voluptas tempore excepturi provident numquam sequi, dolores deleniti incidunt necessitatibus, nobis, eaque reprehenderit aliquam illum. Illo, aspernatur
                    unde?
                </p>
            </div>
            <div class="tarjeta">
                <h3>Equipo</h3>
                <div class="linea"></div>
                <img src="assets/images/equipo.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nesciunt enim soluta voluptas tempore excepturi provident numquam sequi, dolores deleniti incidunt necessitatibus, nobis, eaque reprehenderit aliquam illum. Illo, aspernatur
                    unde?
                </p>
            </div>
            <div class="tarjeta">
                <h3>Valores</h3>
                <div class="linea"></div>
                <img src="assets/images/valores.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nesciunt enim soluta voluptas tempore excepturi provident numquam sequi, dolores deleniti incidunt necessitatibus, nobis, eaque reprehenderit aliquam illum. Illo, aspernatur
                    unde?
                </p>
            </div>
        </div>
    </div>
</div>