<footer class="footer">
    <div class="footer__empresa">
        <div class="nosotros">
            <h3>Nosotros</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus, aspernatur deserunt quisquam suscipit ullam voluptate. Praesentium dolore optio expedita delectus</p>
            <div class="sociales">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="contacto">
            <h3>Contacto</h3>
            <p>Direccion de la empresa lt10</p>
            <p><i class="fas fa-phone"></i>(01)987-1234</p>
            <p><i class="far fa-envelope"></i>correo@gmail.com</p>
            <p><i class="fas fa-link"></i>www.gruincasas.com</p>
        </div>
    </div>
    <div class="footer__corpex">
        <span>Creado por <a href="http://www.sisalvarez.com" target="_blank">CORPEX</a> | <span class="far fa-copyright"></span> 2020 Todos los derechos reservados.
        </span>
    </div>
</footer>