<section class="landing">
    <div class="slider">
        <input type="radio" name="slider" checked="checked">
        <div class="imgBx">
            <img src="assets/images/banner/imagen1.webp">
            <div class="content">
                <h2>CONCRETO DE CALIDAD</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque perspiciatis repudiandae harum voluptatibus amet voluptas quod minus officia inventore porro.</p>
                <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active">Leer más</a>
            </div>
        </div>

        <input type="radio" name="slider">
        <div class="imgBx">
            <img src="assets/images/banner/imagen2.webp">
            <div class="content">
                <h2>NOSOTROS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque perspiciatis repudiandae harum voluptatibus amet voluptas quod minus officia inventore porro.</p>
                <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active">Conocenos</a>
            </div>
        </div>

        <input type="radio" name="slider">
        <div class="imgBx">
            <img src="assets/images/banner/imagen3.webp">
            <div class="content">
                <h2>PROYECTOS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque perspiciatis repudiandae harum voluptatibus amet voluptas quod minus officia inventore porro.</p>
                <a [routerLink]="['/proyectos']" routerLinkActive="router-link-active">Ver proyectos</a>
            </div>
        </div>

        <input type="radio" name="slider">
        <div class="imgBx">
            <img src="assets/images/banner/imagen4.webp">
            <div class="content">
                <h2>PRODUCTOS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque perspiciatis repudiandae harum voluptatibus amet voluptas quod minus officia inventore porro.</p>
                <a [routerLink]="['/productos']" routerLinkActive="router-link-active">Ver todo</a>
            </div>
        </div>
    </div>
</section>