.container {
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    -webkit-animation: pulso 2s infinite linear;
    animation: pulso 2s infinite linear;
}

@-webkit-keyframes pulso {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulso {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}