<div class="espacio"></div>

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="animated fadeIn contenedor">
    <h2>{{Proyecto.nombre}}</h2>
    <div class="proyecto">
        <div class="proyecto__galeria">
            <div class="Limagen">
                <img [src]="Proyecto.pImagen">
            </div>
            <div class="Simagen">
                <img [src]="Proyecto.sImagen1">
                <img [src]="Proyecto.sImagen2">
                <img [src]="Proyecto.sImagen3">
                <img [src]="Proyecto.sImagen4">
            </div>
        </div>
        <div class="proyecto__descripcion">
            <h3>{{Proyecto.bDescripcion}}</h3>
            <p>{{Proyecto.eDescription}}</p>
            <p class="icons"><i class="far fa-calendar-alt"></i>{{Proyecto.fecha}}</p>
            <p class="icons"><i class="fas fa-map-marker-alt"></i>{{Proyecto.direccion}}</p>
            <p class="icons"><i class="fas fa-user-tie"></i>{{Proyecto.cliente}}</p>
        </div>
    </div>
    <section class="video__galeria">
        <youtube-player class="video" [videoId]="Proyecto.video" [height]="250" [width]="380">
        </youtube-player>
        <youtube-player class="video" [videoId]="Proyecto.video2" [height]="250" [width]="380">
        </youtube-player>
    </section>
    <a class="button" [routerLink]="['/proyectos']">Regresar</a>
</div>