<div class="espacio" style="height: 80px;"></div>
<div class="proyectos">
    <div class="banner">
        <h1>PROYECTOS</h1>
    </div>

    <div class="contenido">
        <div class="contenido__titulo">
            <h2>Ultimos proyectos</h2>
        </div>
        <div class="contenido__galeria">
            <div class="gridItem">
                <img src="assets/images/equipo.jpg" alt="">
                <h2>PROYECTO CENTRAL</h2>
            </div>
            <div class="gridItem">
                <div class="imagen">
                    <img src="assets/images/proyectos/obra1.jpg" alt="">
                </div>
                <div class="texto">
                    <h4>PROYECTO 2</h4>
                    <p>Titulo o dirección del proyecto</p>
                    <a href="#"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="gridItem">
                <div class="imagen">
                    <img src="assets/images/proyectos/proyecto6.jpg" alt="">
                </div>
                <div class="texto">
                    <h4>PROYECTO 3</h4>
                    <p>Titulo o dirección del proyecto</p>
                    <a href="#"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="gridItem">
                <div class="imagen">
                    <img src="assets/images/newproyecto/proyecto7.jpeg" alt="">
                </div>
                <div class="texto">
                    <h4>PROYECTO 4</h4>
                    <p>Titulo o dirección del proyecto</p>
                    <a href="#"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>