<div class="espacio" style="height: 80px;"></div>
<div class="proyectos">
    <div class="banner">
        <h1>PROYECTOS</h1>
    </div>

    <div class="contenido">
        <div class="contenido__titulo">
            <h2>Ultimo proyecto</h2>
        </div>
        <div class="contenido__galeria">
            <img src="assets/images/newproyecto/proyecto1.jpeg">
            <img src="assets/images/newproyecto/proyecto2.jpeg">
            <img src="assets/images/newproyecto/proyecto8.jpeg">
            <img src="assets/images/newproyecto/proyecto7.jpeg">
        </div>
    </div>

    <!-- <div class="proyectos__tarjetas">
        <img src="assets/images/proyectos/proyecto1.jpg">
        <img src="assets/images/proyectos/proyecto2.jpg">
        <img src="assets/images/proyectos/proyecto3.jpg">
        <img src="assets/images/proyectos/proyecto4.jpg">
        <img src="assets/images/proyectos/proyecto5.jpg">
        <img src="assets/images/proyectos/proyecto6.jpg">
    </div> -->
</div>