<div class="espacio" style="height: 80px;"></div>
<div class="proyectos">
    <div class="banner">
        <h1>PROYECTOS</h1>
    </div>
    <div class="contenido">
        <section>
            <div class="contenido__titulo">
                <h2>Ultimos proyectos</h2>
            </div>
            <div class="contenido__galeria">
                <div class="gridItem">
                    <img src="assets/images/equipo.jpg">
                    <h2>PROYECTO CENTRAL</h2>
                </div>
                <div class="gridItem" *ngFor="let dProyecto of ListaProyecto; let i = index">
                    <div class="imagen">
                        <img [src]="dProyecto.pImagen">
                    </div>
                    <div class="texto">
                        <h4>{{dProyecto.nombre}}</h4>
                        <p>{{dProyecto.bDescripcion}}</p>
                        <a (click)="verProyecto(i)"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="galeria">
            <div class="contenido__titulo">
                <h2>Proyectos pasados</h2>
            </div>
            <div class="box" *ngFor="let proyecto of ListaProyectos">
                <div class="imgBx">
                    <img [src]="proyecto.imagen">
                    <div class="content">
                        <h3>{{proyecto.nombre}}</h3>
                        <p>{{proyecto.descripcion}}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>