<nav>
    <div class="logo">GRUINCASAS</div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn"><i class="fas fa-bars"></i></label>
    <ul>
        <li><a routerLinkActive="active" routerLink="inicio">Inicio</a></li>
        <li><a routerLinkActive="active" routerLink="nosotros">Nosotros</a></li>
        <!-- <li routerLinkActive="active"><a routerLink="productos">Productos</a></li>
        <li routerLinkActive="active"><a routerLink="donde-comprar">Donde Comprar</a></li> -->
        <li><a routerLinkActive="active" routerLink="contacto">Contacto</a></li>
    </ul>
</nav>