<nav>
    <a routerLink="inicio" class="logo">GRUINCASAS</a>
    <label class="menu-btn" (click)="toggle()"><i [ngClass]="{'fa-bars': barras, 'fa-times': !barras}" class="fas"></i></label>
    <ul [ngClass]="{'mostrar': mostrar}">
        <li (click)="toggle()"><a routerLinkActive="active" routerLink="inicio">Inicio</a></li>
        <li (click)="toggle()"><a routerLinkActive="active" routerLink="nosotros">Nosotros</a></li>
        <li (click)="toggle()"><a routerLinkActive="active" routerLink="productos">Productos</a></li>
        <li (click)="toggle()"><a routerLinkActive="active" routerLink="proyectos">Proyectos</a></li>
        <li (click)="toggle()"><a routerLinkActive="active" routerLink="contacto">Contacto</a></li>
    </ul>
</nav>