:root {
    --color-principal: #2f9cc4;
    --bg-light: #EDF1FD;
    --bg-dark: #21252B;
    --color-textos: #1c2b2d;
    --rojo: #FF6B6B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    width: 100%;
    /* cursor: url(assets/images/cursor.png), auto; */
}

body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.espacio {
    height: 80px;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 90px;
    text-shadow: 0px 20px 30px rgba(0, 0, 0, 0.9);
    transition: .3s;
}

h2 {
    font-size: 30px;
}

p,
span {
    font-weight: 300;
    font-size: 15px;
}

button {
    background: none;
    border: none;
    outline: none;
}

a.button {
    padding: 10px 15px;
    color: #fff;
    background: var(--color-principal);
    border: 1px solid var(--color-principal);
    margin: 20px 0;
    transition: .3s;
    font-weight: 200;
    border-radius: 10px;
}

a.button:hover {
    border: 1px solid var(--color-principal);
    color: var(--color-principal);
    background: none;
    transition: .3s;
}


/*-----------BOTON DE WHATSAPP-----------*/

.btn-whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 999999;
    transition: .7s;
}

.btn-whatsapp:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;
}

@media (max-width: 700px) {
    h1 {
        font-size: 60px;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 50px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 45px;
    }
}