:root {
    --color-principal: #2f9cc4;
    --bg-light: #EDF1FD;
    --bg-dark: #21252B;
    --color-textos: #1c2b2d;
    --rojo: #FF6B6B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100%;
    /* cursor: url(assets/images/cursor.png), auto; */
}

body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.espacio {
    height: 80px;
}


/*-----------BOTON DE WHATSAPP-----------*/

.btn-whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: .7s;
}

.btn-whatsapp:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;
}